<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.paulpaulzhang.dormitorymanagement">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CreateActivity" />
        <activity android:name=".activity.BuildingActivity" />
        <activity android:name=".activity.DormitoryActivity" />
        <activity android:name=".activity.FaultActivity" />
        <activity android:name=".activity.LostFoundActivity" />
        <activity android:name=".activity.OutActivity" />
        <activity android:name=".activity.StudentActivity" />
        <activity android:name=".activity.TbActivity" />
        <activity android:name=".activity.TeacherActivity" />
        <activity android:name=".activity.VisitorActivity" />
    </application>

</manifest>